:root{
    --colorP:#a37cec;
    --colorS: #6b48ad;
    --colorS2: #4a2d81;
}

.header{
    background-color: var(--colorP);
    border-bottom: 4px solid var(--colorS);
}

.body{
    margin-top: 12.5vh !important;
    transition: 0.5s;
    padding: 5vh;
}

.footer{
    background-color: var(--colorP);
    border-top: 4px solid var(--colorS);
}

.nav-footer {
    flex-direction: row !important;
    display:flex;
    justify-content: center;
    list-style: none;
}

.footer-link{
    text-decoration: none;
    font-size: 18px;
}

.footer-link:hover{
    text-decoration: 2px underline white;
}

.logo{
    width: 10vh;
}

.nav-link{
    padding: 3.5vh !important;
}

.nav-link:hover{
    background-color: white;
    color: var(--colorS2)  !important;   
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #d9caf5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    margin-top: 11vh !important;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    }