<app-header></app-header>
<div class="body p-5 container-fluid" >
  <div class="row row-cols-sm-1 row-cols-lg-2">
      <div class="col text-center portada">
          <img src={{currentGame.image}} alt={{currentGame.title}} class="img-fluid">
      </div>
      <div class="col game-info">
          <div class="row">
              <div class="col title">
                  <h1>{{currentGame.title}}</h1>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>Consola: {{currentGame.platform.name}}</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>Generos: <span *ngFor="let genre of genres">{{genre.genre.name}} </span> </h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>Desarrollador:{{currentGame.developer.name}}</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>Duracion del juego: {{currentGame.duration}}</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>Año de salida: {{currentGame.yearReleased}}</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <img src={{pegiImage(currentGame.ageCalification)}} alt={{currentGame.title}} class="img-fluid pegi">
              </div>
          </div>
          <div class="row">
              <div class="col" *ngIf="owns == false; else espera">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#intercambioModal">Intercambio</button>
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#prestamoModal" (click)="setActiveGame(currentGame)">Prestamo</button>
              </div>
              <ng-template #espera>
                <div class="col">
                  <b>Este juego es de tu propiedad</b>
                </div>
                </ng-template>
          </div>
          <div class="row">
              <div class="col">
                  <p>{{currentGame.description}}</p>
              </div>
          </div>
      </div>
  </div>

  <!-- Modal Intercambio -->
  <div class="modal fade" id="intercambioModal" tabindex="-1" aria-labelledby="intercambioModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="intercambioModalLabel">Intercambio </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Prestamo -->
  <div class="modal fade" id="prestamoModal" tabindex="-1" aria-labelledby="prestamoModalabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="prestamoModalLabel">Prestamo </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Estas seguro de pedir este juego en prestamo?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-success" (click)="crearPeticionPrestamo()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>

</div>
<app-footer></app-footer>
