.body{
  margin-top: 150px !important;
}

.portada > img{
  border-radius: 10px;
  width: 400px !important;
  margin: auto !important;
}

.game-info > .row{
  padding: 10px;
}

.title > h1{
  font-size: 48px;
  color: var(--colorS2);
  font-family: 'Montserrat';
  font-weight: bolder;
}

.game-info .btn{
  background-color: var(--colorS);
  color: white;
  border: 2px solid var(--colorS2);
  margin-right: 10px;
}


.game-info .btn:hover{
  background-color: var(--colorS2) !important;
  border: 2px solid var(--colorS) !important;
  color: white !important;
}

.game-info p {
  text-align: justify;
  text-justify: inter-word;
}

.pegi{
  width: 75px !important;
}

.card-img-top{
  height: 200px !important;
}
