<div class="body p-5 container-fluid w-75">
  <div class="row">
      <div class="col">
          <img src="../img/fifa13.webp" alt="fifa-13" class="img-fluid">
      </div>
      <div class="col game-info">
          <div class="row">
              <div class="col title">
                  <h1>FIFA 13</h1>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>PLATAFORM</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>GENRE</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>DEVELOPER</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>DURATION</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>YEAR RELEAS</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h5>PEGI IMG</h5>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <button class="btn btn-primary">Intercambio</button>
                  <button class="btn btn-primary">Prestamo</button>
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita accusantium quod quasi officia laudantium adipisci totam voluptas, similique eius illo nihil, optio, corporis dolorem in.</p>
              </div>
          </div>
      </div>
  </div>

</div>
