<div class="container text-center d-flex flex-column justify-content-center align-items-center min-vh-100 ">
    <div class="container forgot-psw ">
        <div class="row">
            <div class="col">
                <img src="../../img/Re-play Logo black-blackground.png" alt="logo" class="img-fluid logo">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Introduce tu correo electrónico para buscar tu cuenta</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="email">Correo electrónico:</label>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input id="email">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button class="btn btn-primary">Enviar</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="/components/register">Volver al inicio de sesión</a>
            </div>
        </div>
    </div>

</div>