.body{
    background-color: var(--colorP);
  }

.forgot-psw {
    background-color: white;
    max-width: 600px;
    padding: 100px;
    border: 2px solid var(--colorP);
    border-radius: 10px;
}

.btn{
    background-color: var(--colorS);
    color: white;
    border: 2px solid var(--colorS2);
    margin-right: 10px;
}

.btn:hover{
    background-color: var(--colorS2) !important;
    border: 2px solid var(--colorS2) !important;
    color: white !important;
  }

.logo{
    width: 33%;
}

.row{
    padding: 10px;
}