<!-- ############################################################ -->
<app-side-nav-bar></app-side-nav-bar>




<!-- Pagina principal -->
<!-- No deverian ser necesarios los br -->
<div id="body" class="body">
  <app-side-nav></app-side-nav>
  <!-- ############################## Side filter menu ############################## -->

  <!-- <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
      <div class="accordion" id="accordionExample">
          <div class="generos pt-2 accordion-item">
              <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                      data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      Buscar
                  </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="genres-radio" id="flexRadioDefault1"
                              checked>
                          <label class="form-check-label" for="flexRadioDefault1">
                              Todos
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="genres-radio" id="flexRadioDefault2">
                          <label class="form-check-label" for="flexRadioDefault2">
                              Me han prestado
                          </label>
                      </div>
                      <div class="form-check">
                          <input class="form-check-input" type="radio" name="genres-radio" id="flexRadioDefault3">
                          <label class="form-check-label" for="flexRadioDefault3">
                              He prestado
                          </label>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div> -->

  <!-- ############################################################ -->

  <!-- ############################## Prestamos ############################## -->
  <div class="container-fluid">
      <div class="row">
          <div class="col ps-5 col-6">
              <h3>Mis prestamos</h3>
          </div>
          <div class="col">
              <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                  data-bs-target="#modalInt">Solicitudes de intercambio</button>
          </div>
          <div class="col">
              <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal"
                  data-bs-target="#modalPrest">Solicitudes de prestamo</button>
          </div>
      </div>
      <!-- Modal Intercambio -->
      <div class="modal modal-xl fade" id="modalInt" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Intercambios</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div style="border-bottom: solid 1px;" class="ms-0">
                          <div class="row pb-2">
                              <div class="col">
                                  Usuario
                              </div>
                              <div class="col">
                                  Tu juego
                              </div>
                              <div class="col">
                                  Su juego
                              </div>
                              <div class="col">
                                  <button type="button" class="btn btn-outline-dark">OK</button>
                                  <button type="button" class="btn btn-outline-dark">X</button>
                              </div>
                          </div>
                      </div>
                      <div style="border-bottom: solid 1px;" class="ms-0 pt-3">
                          <div class="row pb-2">
                              <div class="col">
                                  Usuario
                              </div>
                              <div class="col">
                                  Tu juego
                              </div>
                              <div class="col">
                                  Su juego
                              </div>
                              <div class="col">
                                  <button type="button" class="btn btn-outline-dark">OK</button>
                                  <button type="button" class="btn btn-outline-dark">X</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  </div>
              </div>
          </div>
      </div>
      <!-- Modal Prestamos -->
      <div class="modal modal-xl fade" id="modalPrest" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
              <div class="modal-content">
                  <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Prestamos</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <div style="border-bottom: solid 1px;" class="ms-0">
                          <div class="row pb-2">
                              <div class="col">
                                  Usuario
                              </div>
                              <div class="col">
                                  Tu juego
                              </div>
                              <div class="col">
                                  <input type="date" readonly value="2022-10-13" style="width: 45%;">
                              </div>
                              <div class="col">
                                  <button type="button" class="btn btn-outline-dark">OK</button>
                                  <button type="button" class="btn btn-outline-dark">X</button>
                              </div>
                          </div>
                      </div>
                      <div style="border-bottom: solid 1px;" class="ms-0 pt-3">
                          <div class="row pb-2">
                              <div class="col">
                                  Usuario
                              </div>
                              <div class="col">
                                  Tu juego
                              </div>
                              <div class="col">
                                  <input type="date" readonly value="2022-10-13" style="width: 45%;">
                              </div>
                              <div class="col">
                                  <button type="button" class="btn btn-outline-dark">OK</button>
                                  <button type="button" class="btn btn-outline-dark">X</button>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col">
              <div class="card mb-3 m-3">
                  <div class="row g-0">
                      <div class="col-md-4 text-center">
                          <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="img-fluid rounded" style="max-height: 200px;"
                              alt="...">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5 class="card-title">Fifa 13</h5>
                              <p class="card-text">Consola: PS5</p>
                              <hr>
                              <p class="card-text"><small class="text-muted pe-5">fecha inicio prestamo:
                                      13/09/2022</small> <small class="text-muted ps-5">fecha final del prestamo:
                                      13/10/2022</small></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="card mb-3 m-3">
                  <div class="row g-0">
                      <div class="col-md-4 text-center">
                          <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="img-fluid rounded" style="max-height: 200px;"
                              alt="...">
                      </div>
                      <div class="col-md-8">
                          <div class="card-body">
                              <h5 class="card-title">Fifa 13</h5>
                              <p class="card-text">Consola: PS5</p>
                              <hr>
                              <p class="card-text"><small class="text-muted pe-5">fecha inicio prestamo:
                                      13/09/2022</small> <small class="text-muted ps-5">fecha final del prestamo:
                                      13/10/2022</small></p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</div>

