<div class="container text-center d-flex flex-column justify-content-center align-items-center min-vh-100 ">
    <div class="container container-register ">
        <div class="row">
            <div class="col-6" id="col-left">
                <div class="row">
                    <div class="col-12">
                        <input class="w-100" placeholder="Usuario">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input class="w-100" placeholder="Correo electrónico">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input class="w-100" placeholder="Constraseña">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input class="w-100" placeholder="Confirmar contraseña">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input class="w-100" class="w-100" placeholder="Nombre">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input class="w-100" placeholder="Apellido">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="checkbox" id="terms-check">
                        <label for="terms-check"><a href="/">Acepto los terminos y condiciones</a></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary w-100">Registrar</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <a href="/">Ya tengo una cuenta</a>
                    </div>
                </div>

            </div>
            <div class="col-6" id="col-right">
                <div class="row">
                    <div class="col-12">
                        <img src="../../img/Re-play Logo black-blackground.png" alt="logo" class="img-fluid logo">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit minus accusamus, dolor
                            praesentium
                            et eius pariatur possimus ipsam ea nobis amet unde fuga.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>