
.forgot-psw {
    background-color: white;
    max-width: 900px;
    padding: 100px;
    border: 2px solid var(--colorS);
}

.btn{
    background-color: var(--colorS);
    color: white;
    border: 2px solid var(--colorS2);
    margin-right: 10px;
}

.logo{
    width: 100%;
}

.row{
    padding: 10px;
}