<div class="footer container-fluid text-center py-4">
  <div class="row">
      <div class="col">
          <img class="logo mb-4" src="../../../assets/logo02-blanc-min.png" alt="">
          <ul class="nav-footer text-center">
              <li class="nav-item">
                  <a class="text text-white px-3 py-2 fs-5 nav-link" href="#">Sobre nosotros</a>
              </li>
              <li class="nav-item">
                  <a class="text text-white px-3 py-2 fs-5 nav-link" href="#">Terminos y condiciones</a>
              </li>
          </ul>
      </div>
  </div>
</div>
