<app-side-nav-bar></app-side-nav-bar>

<div id="body" class="body">

  <app-side-nav></app-side-nav>
        <!-- ############################## Game List ############################## -->

        <div id="gameList" class="game-list container-fluid text-center w-100">
          <div class="row row-cols-sm-1 row-cols-lg-3">
              <div class="col">
                  <a href routerLink="/juego" class="text-decoration-none">
                      <div class="card card-game" style="width: 20rem;">
                          <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="card-img-top img-fluid" alt="Fifa-13">
                          <div class="card-body">
                              <h5 class="card-title">Fifa 13</h5>
                              <p class="card-text">Ordenador</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col">
                  <a routerLink="/juego" class="text-decoration-none">
                      <div class="card card-game" style="width: 20rem;">
                          <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="card-img-top img-fluid" alt="Fifa-13">
                          <div class="card-body">
                              <h5 class="card-title">Fifa 13</h5>
                              <p class="card-text">Ordenador</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col">
                  <a routerLink="/juego" class="text-decoration-none">
                      <div class="card card-game" style="width: 20rem;">
                          <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="card-img-top img-fluid" alt="Fifa-13">
                          <div class="card-body">
                              <h5 class="card-title">Fifa 13</h5>
                              <p class="card-text">Ordenador</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col">
                  <a routerLink="/juego" class="text-decoration-none">
                      <div class="card card-game" style="width: 20rem;">
                          <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="card-img-top img-fluid" alt="Fifa-13">
                          <div class="card-body">
                              <h5 class="card-title">Fifa 13</h5>
                              <p class="card-text">Ordenador</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col">
                  <a routerLink="/juego" class="text-decoration-none">
                      <div class="card card-game" style="width: 20rem;">
                          <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="card-img-top img-fluid" alt="Fifa-13">
                          <div class="card-body">
                              <h5 class="card-title">Fifa 13</h5>
                              <p class="card-text">Ordenador</p>
                          </div>
                      </div>
                  </a>
              </div>
              <div class="col">
                  <a routerLink="/juego" class="text-decoration-none">
                      <div class="card card-game" style="width: 20rem;">
                          <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="card-img-top img-fluid" alt="Fifa-13">
                          <div class="card-body">
                              <h5 class="card-title">Fifa 13</h5>
                              <p class="card-text">Ordenador</p>
                          </div>
                      </div>
                  </a>
              </div>
          </div>
      </div>
</div>
