        <!-- ############################## Game List ############################## -->
    <app-side-nav-bar></app-side-nav-bar>
      <div id="body" class="body">
        <app-side-nav></app-side-nav>
        <div class="my-games container">
          <div class="row">
              <div class="col ms-3">
                  <h3>
                      Mis juegos
                      <a class="btn btn-outline-dark ms-3" href routerLink="/juego-nuevo">
                          Añadir <i class="bi bi-plus"></i>
                      </a>
                  </h3>
              </div>
          </div>

          <div class="row">
              <div class="col">
                  <div class="card mb-3 m-3">
                      <div class="row g-0">
                          <div class="col-md-4 text-center">
                              <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="img-fluid" style="max-height: 200px" alt="..." />
                          </div>
                          <div class="col-md-7">
                              <div class="card-body">
                                  <h5 class="card-title">Fifa 13</h5>
                                  <p class="card-text">Consola: PS5</p>
                                  <p class="card-text">
                                      Descripción: <br />Lorem ipsum dolor sit amet consectetur,
                                      adipisicing elit. Architecto officia rerum magnam ut odio
                                      hic, optio, eaque, ex consequatur est debitis! Aperiam
                                      similique exercitationem consequatur repellat rem magnam
                                      earum ut!
                                  </p>
                              </div>
                          </div>
                          <div class="col text-end p-3">
                              <div class="row p-1">
                                  <div class="col">
                                      <a class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                  </div>
                              </div>
                              <div class="row p-1">
                                  <div class="col">
                                      <a class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="card mb-3 m-3">
                      <div class="row g-0">
                          <div class="col-md-4 text-center">
                              <img src="https://imgs.search.brave.com/fMBMBXjLU81nrMlQSbpmC9yDBgiRNt5UZbMwOCPkSwQ/rs:fit:1140:1200:1/g:ce/aHR0cDovLzIuYnAu/YmxvZ3Nwb3QuY29t/Ly1uSDAydnNCd3BZ/RS9VTDRVRUh4MVdx/SS9BQUFBQUFBQUF6/TS9YVFcwTGRNQkdy/Yy9zMTYwMC9qYXF1/ZXR0ZS1maWZhLTEz/LXBjLWNvdmVyLWF2/YW50LWctMTM0ODU4/MDczOS5qcGc" class="img-fluid" style="max-height: 200px" alt="..." />
                          </div>
                          <div class="col-md-7">
                              <div class="card-body">
                                  <h5 class="card-title">Fifa 13</h5>
                                  <p class="card-text">Consola: PS5</p>
                                  <p class="card-text">
                                      Descripción: <br />Lorem ipsum dolor sit amet consectetur,
                                      adipisicing elit. Architecto officia rerum magnam ut odio
                                      hic, optio, eaque, ex consequatur est debitis! Aperiam
                                      similique exercitationem consequatur repellat rem magnam
                                      earum ut!
                                  </p>
                              </div>
                          </div>
                          <div class="col text-end p-3">
                              <div class="row p-1">
                                  <div class="col">
                                      <a class="btn btn-primary"><i class="bi bi-pencil-square"></i></a>
                                  </div>
                              </div>
                              <div class="row p-1">
                                  <div class="col">
                                      <a class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
