<app-header></app-header>
<!-- ############################## Game List ############################## -->
    <app-side-nav-bar></app-side-nav-bar>
      <div id="body" class="body my-5">
        <app-side-nav [developers]="gameDevelopers" [platforms]="gamePlatforms" [genres]="gameGenres"></app-side-nav>
        <div class="my-games container">
          <div class="row">
              <div class="col ms-3">
                  <h3>
                      Mis juegos
                      <a class="btn btn-outline-dark ms-3" href routerLink="/juego-nuevo">
                          Añadir <i class="bi bi-plus"></i>
                      </a>
                  </h3>
              </div>
          </div>

          <div class="row row-cols-1 row-cols-sm-2" *ngIf="games != null; else espera">
              <div class="col" *ngFor="let game of games">
                  <div class="card mb-3 m-3">
                       <div class="row g-0">
                          <div class="col-lg-3 col-12 text-center">
                              <img src={{game.image}} class="img-fluid" style="max-height: 250px" alt={{game.title}} />
                          </div>
                          <div class="col-lg-7 col-12">
                              <div class="card-body">
                                  <h5 class="card-title">{{game.title}}</h5>
                                  <p class="card-text"> <b>Consola:</b> {{game.platform.name}}</p>
                                  <p class="card-text">
                                     <b> Descripción:</b> {{game.description}}
                                  </p>
                              </div>
                          </div>
                          <div class="col-lg-2 col-12 text-end p-3">
                              <div class="row p-1 row-cols-lg-1 row-cols-sm-2">
                                  <div class="col p-3">
                                      <a type="button" class="btn btn-primary" (click)="editar(game.id)"><i class="bi bi-pencil-square"></i></a>
                                  </div>
                                  <div class="col p-3">
                                      <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#borrarModal" (click)="setActiveGame(game)"><i class="bi bi-trash-fill"></i></a>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <ng-template #espera>Esperando datos</ng-template>

    <!-- Modal Borrar -->
    <div class="modal fade" id="borrarModal" tabindex="-1" aria-labelledby="borrarModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="borrarModalLabel">Eliminar </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            ¿Seguro que quieres eliminar este juego?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-danger" (click)="borrar()" data-bs-dismiss="modal">Eliminar</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <app-footer></app-footer>
