.sub-bar{
  background-color: var(--colorS2);
  margin-top: 90px !important;
  transition: 0.5s;
  padding-left: 50px !important;
  color: white;
  vertical-align: middle !important;
  padding-top: 10px;
}
