<app-header></app-header>

<div class="container pt-5">
  <div class="row pt-5">
    <div class="col">
      <h3>Términos y condiciones</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <p>
        Esta aplicación permite a los trabajadores de T-Systems poner sus videojuegos que quieran prestar, buscar
        y/o pedir a otros trabajadores. Además, también permite intercambiar los videojuegos con otro usuario.
      </p>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde, exercitationem dicta officia harum quaerat dolorum adipisci corrupti voluptatibus? Optio eaque voluptatum quibusdam aspernatur sed eius corporis in rem, soluta earum?
      </p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime sit eius ullam dolorum accusamus iusto quos velit pariatur aliquid quaerat quia adipisci odio unde commodi aspernatur, assumenda consectetur nesciunt. Temporibus.</p>
    </div>
  </div>
</div>
<app-footer></app-footer>
