<app-header></app-header>

<div class="container pt-5 my-5">
  <div class="row pt-5">
    <div class="col pt-4">
      <h3>Términos y condiciones</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="readable">
        <div class="centered title-container">
          <h2>Re-play</h2>
        </div>
        <h3>1. Quienes somos?</h3>
        <p>Esta aplicación permite a los trabajadores de T-Systems poner sus videojuegos que quieran prestar, buscar
          y/o pedir a otros trabajadores. Además, también permite intercambiar los videojuegos con otro usuario.</p>
        <h3>2. Cómo contactarnos</h3>
        <p>
          Puedes contactarnos en replayt7@gmail.com o al teléfono 123456789 de
          lunes a viernes de 8:00 a.m. a 5:00 p.m. <br />
          Si se comunica con nosotros fuera del horario establecido, puede
          dejarnos un mensaje con la información solicitada y daremos respuesta lo
          más pronto posible.
        </p>
        <h3>3. Tu privacidad y datos personales</h3>
        <p>
          Re-play respeta plenamente el derecho a la privacidad de sus Usuarios
          y aplica las medidas que se indican a continuación con relación a
          cualquier información suministrada u obtenida acerca de los Usuarios de
          este Sitio. Para utilizar algunos Contenidos o Servicios, los Usuarios
          deben proporcionarán previamente a Re-play ciertos datos de carácter
          personal. Los datos que habitualmente se solicitan pueden incluir, sin
          limitación, su nombre, dirección, número de teléfono, e-mail y .
          Al facilitar esta información a Re-play, el Usuario acuerda permitirnos utilizar esta información para completar
          todas las operaciones que solicite a través de este Sitio y a divulgar
          dicha información.
        </p>

        <h3>4. Información clave</h3>
        <p>
          Nuestros Servicios están en constante evolución. Como tal, los Servicios
          pueden cambiar de vez en cuando, a nuestra discreción. Podremos dejar de
          proporcionarle a usted o a otros usuarios, de forma general, los
          Servicios (de forma permanente o temporal) o cualquier característica de
          los mismos. También conservaremos el derecho a establecer límites sobre
          el uso y almacenamiento a nuestro único criterio en cualquier momento.
          También podremos eliminar o negarnos a distribuir cualquier Contenido
          que se encuentre en los Servicios, limitar la distribución o visibilidad
          de cualquier Contenido dentro del servicio, suspender o cancelar a
          usuarios y reclamar nombres de usuario sin ninguna responsabilidad hacia
          usted.
        </p>
        <p>
          El presente sitio es un producto cuyo autor es Re-play de acuerdo con
          la Ley de Propiedad Intelectual, por ello:<br />
          (a) Todos los elementos de la web sin limitaciones, incluyendo, el
          diseño gráfico, logotipos y contenido están protegidos por las leyes de
          la Propiedad Intelectual y todos los tratados internacionales referidos
          al Derecho de Autor <br />(b) Todos los derechos del contenido incluido
          en este sito, así como las imágenes, fotografías, gráficos, dibujos,
          nombres, textos, logos, eslóganes, diseños, ilustraciones y programas
          informáticos, videos o secuencias animadas, sonoras o no, y todas las
          obras integradas en la web. <br />(c) La denominación Re-play., el
          nombre de sus marcas propias Re-play y los productos y servicios a
          ellos asociados, son marcas registradas por Re-play Otras marcas que
          aparecen en este sitio son utilizadas por Re-play, bien con la
          autorización de su titular, bien como simple identificación de productos
          o servicios propuestos por Re-play.
        </p>
        <p>
          Estos Términos y Condiciones de Uso se rigen por las leyes españolas y
          el Usuario renuncia de forma expresa a cualquier otro fuero, se someten
          al de los Juzgados y Tribunales de la ciudad de Reus. Todas las disputas
          que resulten del presente Contrato se someterán exclusivamente a la
          jurisdicción de los Tribunales Superiores del Estado Español (según se
          permita por ley) y cada parte acuerda no impugnar la jurisdicción
          personal de dichos tribunales. Sin perjuicio de lo indicado
          anteriormente, Re-play tendrá derecho a interponer y comenzar
          cualquier acción legal o equitativa o procedimiento ante cualquier
          tribunal competente que no sea español para obtener medidas cautelares o
          cualquier otra medida en el caso de que, en opinión de Re-play, dicha
          acción sea necesaria o deseable. Ninguna acción de Re-play, que no sea
          una renuncia o modificación expresa por escrito, puede ser interpretada
          como una renuncia o modificación de cualquiera de los presentes Términos
          y Condiciones de Uso. En el caso de que cualquier cláusula de los
          presentes Términos y Condiciones de Uso no fuera aplicable, esto no
          afectará, donde sea posible, cualquier otra cláusula y cada una
          permanecerá plenamente vigente y con efecto. <br /><br />El Usuario
          acepta que no existe ninguna relación de colaboración empresarial,
          asociación, vínculo laboral o de mediación con Re-play como resultado
          del uso de su portal y de los demás servicios asociados.
          <br /><br />Para cualquier sugerencia o propuesta de colaboración
          escríbanos a cualquiera de los medios contacto enunciados más arriba
          web.
        </p>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
