<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/general.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
<!--FontAwesome-->
<script src="https://kit.fontawesome.com/9478435bdc.js" crossorigin="anonymous"></script>    
<title>Document</title>
</head>
<body>
    

<div class="container">
    <nav class="navbar color-fondo navbar-expand-lg fixed-top" >
        <div class="container-fluid">
            <!--Href= enlace a Inicio-->
            <a class="navbar-brand" href="#">
                <img src="../img/Re-play Logo black-blackground.png" alt="Re-Play" width="80" height="64">
            </a> 
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Inicio</a>
                    </li>
                    <!-- <li class="nav-item"><span class="text-light">||</span></li> -->
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Mis Juegos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Mis Prestamos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Mi Perfil</a>
                    </li>
                    
                </ul>
                <ul class="navbar-nav"><!--Buscador-->
                    <li class="nav-item">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
    <!-- Pagina principal -->
    <!-- No deverian ser necesarios los br -->
    <br>
    <br>
    <br>
    <br>
    <div class="container border-5 ms-0">
        asd
    </div>
    <!-- Navbar Footer -->
    <div class="container">
    <nav class="navbar-center fixed-bottom color-fondo">
        <div class="container-fluid text-center">
            <div class="row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <!--Href= enlace a Inicio-->
                        <a class="navbar-brand" href="#">
                            <img src="../img/Re-play Logo black-blackground.png" alt="Re-Play" width="80" height="64">
                        </a> 
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Sobre nosotros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active text-light" aria-current="page" href="#">Terminos y condiciones</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>


</body>
</html>