<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/inicio.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
        <script src="../js/inicio.js" defer></script>
        <title>Document</title>
    </head>
    <body>
    

    <!-- ############################## Header ############################## -->
    <div class="header container-fluid px-5 shadow-lg fixed-top ">
        <nav class="navbar navbar-expand-lg row py-0">
            <div class="container-fluid" style="background-color:var(--colorP);">
                <a class="navbar-brand px-2" href="#"><img class="logo" src="../img/logo02-blanc-min.png" alt=""></a>
                <button class="navbar-toggler bg-light" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span ><i class="bi bi-list fs-3" style="color: black;"></i></span>
                </button>
                <div class="collapse navbar-collapse col-4" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link fs-5 text text-white px-3" href="inicio.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5 text text-white px-3" href="misJuegos.html">Mis Juegos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5 text text-white px-3" href="#">Mis prestamos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fs-5 text text-white px-3" href="#">Mi perfil</a>
                        </li>
                    </ul>
                </div>
                <div class="container-fluid col py-4 search">
                    <form class="d-flex" role="search">
                        <div class="input-group">
                            <input class="form-control" type="search" placeholder="Buscar" aria-label="Search">
                            <button class="btn btn-light start-0" type="submit"><i class="bi bi-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </div>

    <div class="container-fluid sub-bar" id="sub-bar">
        <div class="row">
            <div class="col">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="bi bi-gear-fill"></i></span>
            </div>
        </div>
    </div>

    <!-- ############################################################ -->

    <!-- Pagina principal -->
    <!-- No deverian ser necesarios los br -->
    <div id="body" class="body">
         <!-- ############################## Side filter menu ############################## -->

         <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <div class="accordion" id="accordionExample">
                <div class="generos pt-2 accordion-item">
                    <h2 class="accordion-header" id="headingOne">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Buscar
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genres-radio" id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    Todos
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genres-radio" id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    Me han prestado
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="genres-radio" id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    He prestado
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
        </div>

        <!-- ############################################################ -->

        <!-- ############################## Prestamos ############################## -->

        <div class="row">
            <div class="col ps-5 col-6">
                <h3>Mis prestamos</h3>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalInt">Solicitudes de intercambio</button>
            </div>
            <div class="col">
                <button type="button" class="btn btn-outline-dark"data-bs-toggle="modal" data-bs-target="#modalPrest">Solicitudes de prestamo</button>
            </div>
        </div>
        <!-- Modal Intercambio -->
        <div class="modal modal-xl fade" id="modalInt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Intercambios</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="border-bottom: solid 1px;" class="ms-0">
                        <div class="row pb-2">
                            <div class="col">
                                Usuario
                            </div>
                            <div class="col">
                                Tu juego
                            </div>
                            <div class="col">
                                Su juego
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-dark">OK</button>
                                <button type="button" class="btn btn-outline-dark">X</button>
                            </div>
                        </div>
                      </div>
                      <div style="border-bottom: solid 1px;" class="ms-0 pt-3">
                        <div class="row pb-2">
                            <div class="col">
                                Usuario
                            </div>
                            <div class="col">
                                Tu juego
                            </div>
                            <div class="col">
                                Su juego
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-dark">OK</button>
                                <button type="button" class="btn btn-outline-dark">X</button>
                            </div>
                        </div>
                      </div>
                    </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>

        <!-- Modal Prestamos -->
        <div class="modal modal-xl fade" id="modalPrest" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Prestamos</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div style="border-bottom: solid 1px;" class="ms-0">
                        <div class="row pb-2">
                            <div class="col">
                                Usuario
                            </div>
                            <div class="col">
                                Tu juego
                            </div>
                            <div class="col">
                                <input type="date" readonly value="2022-10-13" style="width: 45%;">
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-dark">OK</button>
                                <button type="button" class="btn btn-outline-dark">X</button>
                            </div>
                        </div>
                    </div>
                    <div style="border-bottom: solid 1px;" class="ms-0 pt-3">
                        <div class="row pb-2">
                            <div class="col">
                                Usuario
                            </div>
                            <div class="col">
                                Tu juego
                            </div>
                            <div class="col">
                                <input type="date" readonly value="2022-10-13" style="width: 45%;">
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-dark">OK</button>
                                <button type="button" class="btn btn-outline-dark">X</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
              </div>
            </div>
          </div>
                
        <div class="row">
            <div class="col">

                <div class="card mb-3 m-3">
                    <div class="row g-0">
                      <div class="col-md-4 text-center">
                        <img src="../img/fifa13.webp" class="img-fluid rounded-start" style="max-height: 200px;" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Fifa 13</h5>
                          <p class="card-text">Consola: PS5</p>
                          <p class="card-text">Descripción: <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto officia rerum magnam ut odio hic, optio, eaque, ex consequatur est debitis! Aperiam similique exercitationem consequatur repellat rem magnam earum ut!</p>
                          <hr>
                          <p class="card-text"><small class="text-muted pe-5">fecha inicio prestamo: 13/09/2022</small> <small class="text-muted ps-5">fecha final del prestamo: 13/10/2022</small></p>
                        </div>
                      </div>
                    </div>
                </div>

                <div class="card mb-3 m-3">
                    <div class="row g-0">
                      <div class="col-md-4 text-center">
                        <img src="../img/fifa13.webp" class="img-fluid rounded-start" style="max-height: 200px;" alt="...">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">Fifa 13</h5>
                          <p class="card-text">Consola: PS5</p>
                          <p class="card-text">Descripción: <br>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto officia rerum magnam ut odio hic, optio, eaque, ex consequatur est debitis! Aperiam similique exercitationem consequatur repellat rem magnam earum ut!</p>
                          <hr>
                          <p class="card-text"><small class="text-muted pe-5">fecha inicio prestamo: 13/09/2022</small> <small class="text-muted ps-5">fecha final del prestamo: 13/10/2022</small></p>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
        </div>

    </div>


 <!-- ############################## Footer ############################## -->

 <div class="footer container-fluid text-center py-4">
    <div class="row">
        <div class="col">
            <img class="logo mb-4" src="../img/logo02-blanc-min.png" alt="">
            <ul class="nav-footer text-center">
                <li class="nav-item">
                    <a class="text text-white px-3 py-2 fs-5 nav-link" href="#">Sobre nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="text text-white px-3 py-2 fs-5 nav-link" href="#">Terminos y condiciones</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<!-- ################################################################# -->



</body>
</html>