<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
    <title>Re-play</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="../css/register.css">
</head>

<body>

    <div class="container text-center d-flex flex-column justify-content-center align-items-center min-vh-100 ">
        <div class="container forgot-psw ">
            <div class="row">
                <div class="col">
                    <input placeholder="Usuario">
                </div>
                <div class="col">
                    <img src="../img/Re-play Logo black-blackground.png" alt="logo" class="img-fluid logo">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input placeholder="Usuario">
                </div>
                <div class="col">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit minus accusamus, dolor praesentium
                        et eius pariatur possimus ipsam ea nobis amet unde fuga, consequatur facere quis eveniet vel
                        placeat obcaecati.</p>
                </div>
            </div>
            <div class="row">
                <div class="col"><input placeholder="Usuario"></div>
            </div>
        </div>

    </div>

</body>

</html>