<app-header></app-header>

<div class="container">
  <div id="body" class="body pt-5">
    <div class="row pt-5">
      <div class="col pt-4">
        <h3>About us</h3>
        <p>Conoce las caras detrás de Re-Play</p>
      </div>
    </div>

    <div class="row">
      <div class="col-6 offset-3 text-center">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../../assets/perfil/Perfil_Marc.jpeg"
                class="img-fluid rounded-start"
                alt="Perfil_Marc"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title text-center">Marc Cuenca</h5>
                <p class="card-text ps-2">
                  Soy un programador al cual le encanta mejorar la calidad de su
                  código. Mi gran pasión por aprender y mejorar impulsa el
                  trabajo en equipo gracias a la posibilidad de enseñar y
                  aprender de otros miembros del grupo.
                </p>
                <p class="card-text text-center">
                  <i class="bi bi-envelope"></i>
                  <small class="text-muted"> marccudi@hotmail.es</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3 text-center">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../../assets/perfil/Perfil_Jaume.png"
                class="img-fluid rounded-start"
                alt="Perfil_Jaume"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">Jaume Gil</h5>
                <p class="card-text ps-2">
                  Soy un programador que no le gusta dejar las cosas a medias.
                  Me encanta aprender cosas nuevas y aplicarlas. Me gusta
                  trabajar en equipo y ayudar a mis compañeros en lo que sea
                  posible.
                </p>
                <p class="card-text text-center">
                  <i class="bi bi-envelope"></i>
                  <small class="text-muted"> jaumegil22@gmail.com</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-6 offset-3 text-center">
        <div class="card mb-3" style="max-width: 540px">
          <div class="row g-0">
            <div class="col-md-4">
              <img
                src="../../../assets/perfil/"
                class="img-fluid rounded-start"
                alt="Perfil_David"
              />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">David Marcos</h5>
                <p class="card-text ps-2">Texto aqui</p>
                <p class="card-text text-center">
                  <i class="bi bi-envelope"></i>
                  <small class="text-muted"> algo@hotmail.es</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/perfil/" class="img-fluid rounded-start" alt="Perfil_Jaume">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Jaume Gil</h5>
              <p class="card-text ps-2">
                Texto aqui
              </p>
              <p class="card-text text-center"><i class="bi bi-envelope"></i> <small class="text-muted"> algo@hotmail.es</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6 offset-3 text-center">
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../../../assets/perfil/Perfil_David.jpg" class="img-fluid rounded-start" alt="Perfil_David">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">David Marcos</h5>
              <p class="card-text ps-2">
                Como programador siempre me gusta encontrar la mejor solución a los problemas.
              </p>
              <p class="card-text text-center"><i class="bi bi-envelope"></i> <small class="text-muted"> david.13254@gmail.com</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
