<div class="body container-fluid text-center d-flex flex-column justify-content-center align-items-center min-vh-100 ">
    <div class="container login-container shadow">
        <div class="row">
            <div class="col-12">
                <img src="../../img/Re-play Logo black-blackground.png" alt="logo" class="img-fluid logo">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit minus accusamus, dolor
                    praesentium.</p>
            </div>
        </div>
         <form (ngSubmit)="onSubmit()" name="form" novalidate>
        <div class="row">
            <div class="col-12 form-group">
                <label for="user">Usuario:</label>
                <input type="text" class="w-100 form-control" id="user" name="username" [(ngModel)]="form.username" required #username="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <label for="password">contraseña:</label>
                <input type="password" class="w-100 form-control" id="password" name="password" [(ngModel)]="form.password" required minlength="6" #password="ngModel">
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href="/forgot-password">¿Has olvidado tu usuario/contraseña?</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 form-group">
                <button class="btn btn-primary w-100">Iniciar sesión</button>
            </div>
            <div class="alert alert-success" *ngIf="isLoggedIn">
              Te has logueado correctamente
            </div>
        </div>
      </form>
        <div class="row">
            <div class="col-12">
                <a href="/register">No tengo cuenta</a>
            </div>
        </div>



    </div>

</div>
